<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.aaronoe.greet">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GreetApplication_"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_round" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <activity android:name=".LoginActivity">

        </activity>
        <activity android:name=".ui.main.MainActivity"
            android:theme="@style/AppTheme.ActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.groupdetail.GroupHostActivity_"/>

        <activity
            android:theme="@style/AppTheme.ActionBar"
            android:name=".ui.newpost.NewPostActivity_"/>

        <activity
            android:theme="@style/AppTheme.ActionBar"
            android:name=".ui.search.SearchActivity_"/>

        <service android:name=".sync.NewPostIntentService_" />
        <service android:name=".sync.NewCommentIntentService_" />
        <service android:name=".sync.SendNotificationIntentService_" />

        <service
            android:name=".sync.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:exported="true"
            android:name=".sync.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <activity android:name=".ui.postdetail.PostDetailActivity_"
            android:theme="@style/AppTheme.ActionBar" />

        <provider
            android:authorities="de.aaronoe.greet"
            android:name=".repository.db.PostsContentProvider"
            android:exported="false" />

    </application>

</manifest>